@import url("globalStyles.css");

.img-banner {
  height: 205px;
  background-image: url('../assets/img/img-fundo.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}






















